@import "breakpoints";

@include sm-d {
    .packing {
        max-width: 390px;
    }
    .packing__list {
        justify-content: center;
        padding-top: 40px;
    }
    .packing__list-title {
        text-align: center;
    }
    .packing__img {
        max-width: 250px;
        max-height: 250px;
        margin-top: 20px;
        z-index: -1;

        .ellipse__img {
            max-width: 300px;
        }
    }
    .iframe {
        display: flex;
        justify-content: center;
        img {
            width: 90%;
        }
        
    }
}