@import "breakpoints";

@include sm-d {
    .scooters {
        max-height: 170px;
        max-width: 390px;
        padding-top: 45px;
        .scooters-scooter__list {
            flex-wrap: nowrap;
            overflow-x: scroll;

        } 
        .scooters-scooter__list::-webkit-scrollbar {
            width: 0;
          }
    }
}