@import "mixin.scss";
@import "./@media/breakpoints";

.battery {
    width: 100%;
    height: 550px;
    padding-top: 70px;
    box-sizing: border-box;
    background-color: rgb(25, 25, 188);
    background-color: rgb(18, 18, 28);
    z-index: -1;
    position: relative;
    &-content {
        width: 65%;
        z-index: 100;
        margin: 0;
    }
    &-battery__title {
        @include title;
        color: #FFFFFF;
        @include sm-d {
            font-size: 20px !important;
            margin-top: 400px !important;
        }
    }
    &-battery__text {
        color: #FFFFFF;
        font-weight: 400;
        font-size: 18px;
        @include sm-d {
            font-size: 18px !important;
            width: 140% !important;
        }
    } 
    img {
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        @include sm-d {
            position: static;
        }
    }
    @include sm-d {
        height: 900px !important;
    }
}