@import "mixin.scss";

.battery {
    width: 100%;
    height: 550px;
    padding-top: 70px;
    box-sizing: border-box;
    background-color: rgb(25, 25, 188);
    background-color: rgb(18, 18, 28);
    z-index: -1;
    position: relative;
    &-content {
        width: 65%;
        z-index: 100;
        margin: 0;
    }
    &-battery__title {
        @include title;
        color: #FFFFFF;
    }
    &-battery__text {
        color: #FFFFFF;
        font-weight: 400;
        font-size: 18px;
    } 
    img {
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
}