@import "mixin.scss";
@import "./@media/breakpoints";


.braking {
    min-height: 550px;
    display: flex;
    justify-content: end;
    overflow: hidden;
    @include sm-d {
        justify-content: start;
        flex-wrap: wrap;
        max-width: 390px;
    }
    &-system__content {
        width: 45%;
        @include sm-d {
            width: 80%;
            padding-left: 20px !important;

        }
    }
    &-system__title {
        @include title;
        margin-top: 150px;
        @include sm-d {
            margin-top: 20px;
            font-size: 25px;
        }
    }
    &-system__text {
        @include text;
        width: 80%;
        @include sm-d {
            font-size: 16px;
        }
    } 
    
}
.braking-section {
    position: relative;
    @include sm-d {
        max-width: 390px;
    }
    img {
        position: absolute;
        left: 0;
        @include sm-d {
            position: static;
            max-width: 100%;
            max-height: 100%;
            margin-top: -25px;
        }
    }
}