@import "mixin.scss";

.braking {
    height: 550px;
    display: flex;
    justify-content: end;
    &-system__content {
        width: 45%;
    }
    &-system__title {
        @include title;
        margin-top: 150px;
    }
    &-system__text {
        @include text;
        width: 80%;
    } 
    
}
.braking-section {
    position: relative;
    img {
        position: absolute;
        left: 0;
    }
}