@import "mixin.scss";
@import "./@media/breakpoints";


.compare {
    @include sm-d {
        max-width: 390px;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 40px;
        z-index: -1;
    }
    .title {
        @include title;
        @include sm-d {
            font-size: 25px;
        }
    }
    &__title {
        text-align: center;
        margin-bottom: 18px !important;
    }
    .text {
        @include text;
    }
    &__text {
        text-align: center;
        display: block;
    }
    &__card__list {
        position: relative;
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 50px 20px;
        @include sm-d {
            margin: 30px 10px;
        }
    }
    .img {
        @include sm-d {
            max-width: 120px;
            max-height: 130px;
        }
    }
    &__img {
        width: 170px;
        max-height: 170px;
        @include sm-d {
            width: 120px;
            max-height: 200px;

        }
    }
    &__card-title {
        color: #323941;
        font-size: 17px;
        font-weight: 700;
        margin-top: 18px;
        margin-bottom: 60px;
    }
    &__card {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include sm-d {
            width: 20%;
            margin-right: 40px;
        }

        li {
            margin: 0;
            padding-top: 5px;
            padding-bottom: 46.5px;
            width: 100%;
            list-style: none;
            border-top: 1px solid #ECECEC;
        }
    }
    .price {
        color: #323941;
        font-size: 25px;
        font-weight: 700;
    }
    &__price {
        margin-bottom: 15px;
        max-width: 160px ;
        text-align: center;
    }
    .button {
        background-color: #009EFF;
        border: none;
        color: white;
        padding: 12px 20px;
        text-align: center;
        max-width: 170px ;
        min-width: 170px;
        @include sm-d {
           padding: 10px 0;
           max-width: 100px ;
            min-width: 100px; 
            font-size: 12px;
        }
        &:hover {
            cursor: pointer;
            background-color: #009dffe5;

        }
       
    }
    .added {
        background-color: #ccc;
        &:hover {
            background-color: rgba(204, 204, 204, 0.81);
        }
    }

    .next {
        width: 67px;
        height: 67px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: -100px;
        top: 650px;
        border: 1px solid #009EFF;
        font-size: 70px;
        color: #009EFF;
    }
    // style icon 
    .compare__icon__list {
        position: absolute;
        color: #009EFF;
        top: 253px;
        .icon {
            margin-bottom: 50px;
            img {
                margin-right: 7px;
            }
        }
        
    }

    // craousel 

    .main-container {
        display: flex;
        align-items: center;
        margin: 0 auto;
        width: 1300px;
        overflow: hidden;
        
        .window {
            width: 100%;
            height: 100%;
            overflow: hidden;
            @include sm-d {
                overflow: scroll;
            &::-webkit-scrollbar {
                width: 0px;
            }
            }
        }
        .all-pages-container{
            height: 100%;
            display: flex;
            transition: translate;
            transition-property: transform;
            transition-duration: 600ms;
            transition-timing-function: ease-in-out;
        }
    }
    .arrow {
        border: 2px solid #009EFF;
        font-size: 70px;
        color: #009EFF;
        font-weight: 100;
        cursor: pointer;
        margin: 20px;
        @include sm-d {
            display: none;
        }
    }
    .disabled {
        color: #ccc;
        border: 2px solid #ccc;
    }
    margin-bottom: 125px;
}