@import "mixin.scss";

.control {
    max-height: 703px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(0deg, #EEEEEE 0%, rgba(245, 245, 245, 0.79) 43.81%, rgba(255, 255, 255, 0) 82.46%);
    &-content {
        display: flex;
        justify-content: space-between
    }
    &-title {
        @include title;
        text-align: center;
        margin-top: 63px;
        margin-bottom: 16px;
    }
    &-text {
        @include text;
        text-align: center;
        width: 800px;
        display: block;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    &-list {
        display: flex;
        // align-items: flex-start;
        flex-wrap: wrap;
        width: 30%;
        height: 300px;
        margin-left: 300px;
    } 
    &-list__wrap:hover {
        cursor: pointer;
        &:hover p {
            color: #009EFF;

        }
    }
    &-item {
        display: flex;
        width: 150px;
        height: 100px;
        text-align: center;
        background-image: url("../assets/img/control/controlIcon1.svg") ;
        background-repeat: no-repeat;
        padding-left: 22px;
        padding-bottom: 10px;
        box-sizing: border-box;
        &:hover {
            cursor: pointer;
        }
    }
    &-item-img {
        width: 55px;
    }
    &-item-text {
        text-align: left;
        width: 80px;
        padding-left: 20px;
    }
    .dowload-app {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 60px;
        padding-top: 5px;
        &:hover {
            cursor: pointer;
        }
    }
    .iphone_img {
        // position: absolute;
    }
}