@import "mixin.scss";
@import"./@media/breakpoints";


.folding {
    text-align: center;
    &-folding__title {
        @include title;
        margin-bottom: 18px;
        margin-top: 75px;
        @include sm-d {
            font-size: 30px;
        }
    }
    &-folding__text {
        @include text;
        margin-bottom: 30px;
        @include sm-d {
            font-size: 18px !important;
        }
    }
    img {
        @include sm-d {
            max-width: 500px;
        }
    }
}