@import "./@media/mheader.scss";

body {
    margin: 0;
    padding: 0;
    ul{
        padding: 0;
        margin: 0;
        li {
            list-style: none;
        }
    }
}

.header {
    max-width: 100%;
    height: 48px;
    background-color: #323941;
  
    .wrapper{
        max-width: 1200px;
        min-width: 375px;
        height: 48px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .burger {
        width: 20px;
        height: 20px;
        margin-left: 20px;
        position: relative;
        display: none;
    }
    .header-logo {
        display: none;
    }
    
    &-list {
        display: flex;
        padding-left: 0;
        align-items: center;
    }

    &-list__item {
        list-style: none;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 18px;
        margin-right: 25px;
    }

    .contact {
        .contact-icon {
            color: #FFFFFF;
            margin: 7px;
            &:first-child {
                display: none;
            }
        }
       
        #burg {
            color: black;
        }
        display: flex;
        align-items: center;
        &-number {
            color: #FFFFFF;
            font-size: 18px;
        }
    }



    // media 
    // @include sm-d {
    //     // .header {
    //         background-color: #fff;
    //         &-logo {
    //             display: block;
    //         }
    //         &-burger {
    //             display: block;
    //         }
    //         &-logo {
    //             max-width: 90px;
    //         }
    //         &-list {
    //             display: none;
    //         }
    //         margin-bottom: 100px;
    //     // }
    // }
  
}
