@import "./@media/mheader.scss";
@import"./@media/breakpoints";


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    ul{
        padding: 0;
        margin: 0;
        li {
            list-style: none;
        }
    }
}

.header {
    position: fixed;
    width: 1520px;
    height: 48px;
    background-color: #323941;
    z-index: 110;
    transition: transform .2s linear;
    @include sm-d {
        max-width: 390px;
    }
    .wrapper{
        max-width: 1200px;
        min-width: 375px;
        height: 48px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        @include sm-d {
            max-width: 100%;
        }
    }
    .burger {
        width: 20px;
        height: 20px;
        margin-left: 20px;
        position: relative;
        display: none;
    }
    .header-logo {
        display: none;
    }
    
    &-list {
        display: flex;
        padding-left: 0;
        align-items: center;
    }

    &-list__item {
        list-style: none;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 18px;
        margin-right: 25px;
    }

    .contact {
        .contact-icon {
            color: #FFFFFF;
            margin: 7px;
            cursor: pointer;
            &:first-child {
                display: none;
            }
        }
       
        #burg {
            color: black;
        }
        display: flex;
        align-items: center;
        &-number {
            color: #FFFFFF;
            font-size: 18px;
        }
    }
}
.hide {
    transform: translateY(-50px) !important;
}
