@import "mixin.scss";

.battery {
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: rgb(18, 18, 28);
    // background-color: #0E0E16;;
    z-index: -1;
    position: relative;
    &-content {
        width: 55%;
        z-index: 100;
        margin: 0;
    }
    &-battery__title {
        @include title;
        color: #FFFFFF;
    }
    &-battery__text {
        color: #FFFFFF;
        font-weight: 400;
        font-size: 18px;
    } 
    &-battery__desclimer {
        color: #6C6C6C;
    }
    img {
        // width: 100%;
        // height: 850px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
}