@mixin title {
    font-size: 50px;
    font-weight: 700;
    color: #323941;
    margin-top: 0;
    margin-bottom: 0;
}

@mixin text {
    font-weight: 400;
    font-size: 18px;
    color: #323941;
}