@import "mixin.scss";

.ninebot {
    position: relative;
    &-content {
        width: 90%;
    }
    &-title {
        @include title;
        font-size: 108px;
        width: 50%;
        text-transform: uppercase;
    }
    &-card {
        width: 50%;
        padding: 20px;
        border: 2px solid #999999;
        display: flex;
        flex-direction: column;
    }
    &-card__title {
        display: block;
        margin-bottom: 8px;
    }
    &-button__list, 
    &-price__list,
    &-buy {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-price__list {
        margin-top: 16px;
        margin-bottom: 16px;
        .price_item1 {
            font-size: 18px;
            text-decoration: line-through;
        }
        .price_item2 {
            font-size: 35px;
            font-weight: 700;
        }
    }
    &-segway {
        color: #009EFF;
    }
    &-button {
        outline: none;
        border: 1px solid #999999;
        padding: 10px 45px;
        background-color: white;;
    }
    &-buy__btn{
        color: white;
        background-color: #009EFF;
        padding: 15px 70px;
        outline: none;
        border: none;
        font-size: 18px;
    }
    button:hover {
        cursor: pointer;
    }
    &-img {
        position: absolute;
        bottom: -55px;
        right: 0;
    }
    &-img__card {
        position: absolute;
        right: 0;
        bottom: 150px;
        z-index: -1;
    }
    &-payment__title {
        margin-top: 30px;
        display: block;
        margin-bottom: 5px;
        color: #999999;
        font-size: 18px;
    }
    &-payment__item {
        margin-right: 5px;
    }
    margin-bottom: 100px;
    margin-top: 50px;
}
@import "./@media/mninebot.scss";
