@import "./@media/mheader.scss";

.wrapper {
    margin: 0 auto;
    &-owner {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        @include sm-d {
            display:none;
        }
    }
    .owner {
        display: flex;
        &-contact {
            width: 100px;
        }
        .owner__img  {
            margin-right: 13px;
        }
    }
  
}