.wrapper {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .owner {
        display: flex;
        &-contact {
            width: 80px;
        }
    }
}