 
 .packing {
    background: linear-gradient(0deg, #EEEEEE 0%, rgba(245, 245, 245, 0.79) 43.81%, rgba(255, 255, 255, 0) 82.46%);
    padding-bottom: 40px;
}
 .packing__list {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    padding-top: 65px;
    &-title {
        margin-bottom: 30px;
        font-weight: 700px;
        font-size: 50px;
    }
    margin-bottom: 50px;
}

.packing__img {
    width: 455px;
    height: 455px;
    background-color: #009EFF;
    padding: 10px;
    border-radius: 70%;
    position: relative;
}
.ellipse__img {
    left: -15px;
    position: absolute;
}
