@import "mixin.scss";
@import "./@media/breakpoints";

.protective {
    border: 5px solid #009EFF;
    margin-bottom: 100px;
    padding: 30px 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include sm-d {
        padding: 10px 10px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 40px;
        box-sizing: border-box;
        max-width: 390px;
    }
    &-img {
        display: block;
        width: 40%;
        order: 3;
        @include sm-d {
            transform: rotate(-90deg);
        }
    }
    &-content {
        width: 55%;
    }
    &-title {
        @include title;
        @include sm-d {
            font-size: 16px;
            width: 100%;
        }
    }
    &-text {
        @include text;
        @include sm-d {
            font-size: 14px;
        }
    }
}